.viewProduct{
    width: 100%;
    display: flex;

    .viewProductContainer{
        flex: 6;

        .top{
            display: flex;
            height: 75px;
            align-items: center;
            justify-content: center;
            -webkit-box-shadow: 2px 2px 5px 1px #425060;
            box-shadow: 2px 2px 5px 1px #a0afc1;
            border-radius: 5px;
            margin: 20px;

            h1{
                color: #425060;
                font-size: 30px;
            }
        }

        .bottom{
            display: flex;
            height: 380px;
            -webkit-box-shadow: 2px 2px 5px 1px #425060;
            box-shadow: 2px 2px 5px 1px #a0afc1;
            border-radius: 5px;
            padding: 20px;
            margin: 20px;

            .left{
                width: 50%;
                display: flex;
                align-items: center;
                justify-content: center;

                .imageGrid{
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                    gap: 30px;

                    .imagePreview{
                        width: 100%;
                        height: auto;
                        display: block;
                        object-fit: cover;
                        border-radius: 10px;
                        color: #a0afc1;
                    }

                    .placeholder{
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 150px;
                        height: 150px;
                        border-radius: 10px;
                        color: #a0afc1;
                        background-color: #f5f5f5;
                    }
                }
            }

            .right{
                display: flex;
                width: 50%;
                flex-direction: column;
                justify-content: space-between;

                .details{
                    display: flex;
                    margin: 40px;
                    gap: 30px;
                    align-items: center;
                    flex-direction: column;

                    .detailItem{
                        width: 100%;
                        color: #616161;
                        font-size: 18px;

                        .itemKey{
                            font-weight: bold;
                        }

                        .itemValue{
                            padding: 5px;
                        }
                    }
    
                    button{
                        position: relative;
                        width: 150px;
                        padding: 10px;
                        margin: 10px 0;
                        border: none;
                        border-radius: 5px;
                        background-color: #425060;
                        color: white;
                        font-weight: bold;
                        cursor: pointer;
                    }
                }
            }
        }
    }
}